@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 2rem;
  padding: 0 1rem;
}

.ClassCollection {
  font-size: 2rem;
  font-weight: bolder;
}

.nav ul {
  padding: 0;
  padding-right: 800pt;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  align-items: center;
  padding: 1rem;
  height: 100%;
  display: flex;
  font-weight: 700;
}

.Class-Collection{
  font-size: x-large;
}

.nav li.active {
  background-color: white;
}

.nav li:hover {
  color: white;
}
