@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: auto;
}

.nav {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 2rem;
  padding: 0 1rem;
}

.ClassCollection {
  font-size: 2rem;
  font-weight: bolder;
  background-color: black;
}

.nav ul {
  padding: 0;
  padding-right: 800pt;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
}

.nav a {
  color: inherit;
  text-decoration: underline;
  align-items: center;
  padding: 1rem;
  height: 100%;
  display: flex;
  font-weight: 700;
  font-size: x-large;
}

.Class-Collection{
  font-size: x-large;
}

.nav li.active {
  background-color: white;
}

.nav li:hover {
  color: white;
}

.home {
  background: url("file:///home/mumo/Downloads/682226%20(2).jpg");
  height: auto;
  width: auto;
  text-align: center;
  padding-top:0;
}


.App {
  text-align: center;
}
form {
 border:2px solid green;
 padding: 30px;
}
/* img{
 height: 120px;
 margin-left: 90px;
 margin-bottom: 10px;
 display: block;
 border:1px solid black;
 border-radius: 50%;
} */
.App-header {
 background-color: white;
 min-height: 50vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: black;
}

